@import url(reset.css);
@import url(fonts.css);
/* 'Roboto', sans-serif */
/* шрифты поключены через отдельный файл */
/* стилизация в rem - так будет удобнее масштабтровать макет через 
   изменения в корневом эелементе html */
/* Все прарметы цветовой палитры переведыны в формат HEX */


/* -------------КОРНЕВОЙ ЭЛЕМЕНТ------------ */
html{
    background-color:#ece7e7; 
    font-family:'Roboto', sans-serif ;
    font-weight: 100;
    font-size: 10px;
}

*,
::before,
::after{
    box-sizing: border-box;
}
/* -------------Body-ОБЁРТКА------------ */

/* -------------ОБЁРТКА ВНУТРЕННЕЙ СТРАНИЦЫ------------ */

/* -------------КОНТЕЙНЕРЫ СТРУКТУРЫ СТРАНИЦЫ------------ */
/* -------------Семантические элементы страницы---------- */


/* -------------БЛОК HEADER------------ */

/* -------------БЛОК ASIDE------------ */

/* -------------БЛОК MAIN------------ */

/* -------------БЛОК FOOTER------------ */
